/*D5D5D5 
96858f
6D7993*/

body{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    max-width: 100% ;
    min-width:500px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:500px; 
   background-color: rgb(219, 219, 230);


}
#educationAndExperience{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
 


}
#projects{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    max-width: 100%;
}
#skills{
    background-color:rgb(187, 195, 213);
    color: #000000;
}
img{
    position: relative;
    overflow: hidden;
    max-width: 100% ;
}


.wrapper {
    display: flex;
    width: 100%;
    padding-right: 250px;
    text-align: center;
}

#portfolioImage{
    width: 70%;
    border-radius: 50%;
}
.sideBarLinks{
    color:white;
    font-size: 3vh;
}
.sideBarLinks:hover{
    color:white;
}

.bg-light {
    background-color: #75869E !important;
  }

.div1 {
    float: left;
    text-align: left;
}

.frontImage{
    background-image: url("img/computerDesk.jpg");
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 200%;
    padding-right: 20%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
}
.about{
    padding-top: 10%;
    padding-bottom: 10%;

    background: rgb(224, 229, 237);
    transition: all 0.3s;
    
}
.aboutMeParagraph{
    padding-right: 15%;
    padding-left: 15%;
}
.container1 {
    position: relative;
    text-align: left;
    color: #75869E;
    line-height: 270%;

  }

.centered {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.982);
    color:#75869E;
    padding: 6% 8% 6% 8%;


  }
  
  .button:hover {
    background-color: rgb(224, 229, 237); /* Green */
    color: #75869E;
  }


  .name{
    font-size: 4vw;
    font-weight: 900;
  }
  .ital{
    font-size: 2vw;
    font-style: italic;
  }
  .hello{
      font-size: 2vw;
      
  }
  .fa {
    padding: 5%;
    width: 10%;
    color: white;

  }
  .heading{
    color: #75869E;
    font-size: 5vw;
  }
  .descr{
    color:#75869E;
    font-size: 2.2vw;
    font-style: italic;

  }
  .par{
    font-size: 2.2vw;
  }


  .row {
    display: flex;
    padding-left: 10vh;
    padding-top:10%;
    padding-bottom: 10%;
    overflow: hidden;
    max-width: 101% ;

  }
  
  .column {
    flex: 30%;
    overflow: hidden;
    

  }
  p.thick {
    font-weight: bold;
  }


  
  