/*D5D5D5 
96858f
6D7993*/

body{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
#educationAndExperience{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


    display: inline-block;
	width: 500px;
	min-height: 50px;
	height: auto;
}
#projects{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#skills{
    background-color:#6D7993;
    color: #000000;
}
img{
    position: relative;
}


.wrapper {
    display: flex;
    width: 100%;
    padding-right: 250px;
    text-align: center;
}

#sidebar {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    height: 110vh;
    z-index: 999;
    background: #75869E;
    color: #fff;
    transition: all 0.3s;
    max-width: 100%;

}

#portfolioImage{
    width: 70%;
    border-radius: 50%;
}
.sideBarLinks{
    color:white;
    font-size: 20px;
}
.sideBarLinks:hover{
    color:white;
}

.bg-light {
    background-color: #75869E !important;
  }

  .div1 {
    float: left;
    text-align: left;
}

.frontImage{
    background-image: url("img/computerDesk.jpg");

    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 200%;
    padding-right: 0%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.about{
    padding-top: 75px;
    padding-bottom: 75px;

    background: rgb(224, 229, 237);
    transition: all 0.3s;
}
.aboutMeParagraph{
    padding-right: 15%;
    padding-left: 15%;
}
.container1 {
    position: relative;
    text-align: left;
    color: 96858f;
    line-height: 270%;

  }

.centered {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.982);
    color:#75869E;
    padding: 12px 10px 12px 10px;


  }
  
  .button:hover {
    background-color: rgb(224, 229, 237); /* Green */
    color: #75869E;
  }


  .name{
    font-size: 12vh;
    font-weight: 900;
  }
  .ital{
    font-size: 3vh;
    font-style: italic;
  }
  .hello{
      font-size: 4vh;
      
  }
  .fa {
    padding: 4px;
    width: 50px;
  }
  .heading{
    color: #75869E;
    font-size: 30px;
  }
  .descr{
    color:#75869E;
    font-size: 15px;
    font-style: italic;

  }