/*D5D5D5 
96858f
6D7993*/

body{
    font-family: cursive;
    padding-right: 20%;
}
#educationAndExperience{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
}
#skills{
    background-color:#6D7993;
    color: #000000;
}
.carousel-inner{
    width:100%;
    max-height: 400px !important;
  }
  
img{
    max-height: 400px !important;
}


.wrapper {
    display: flex;
    width: 100%;
    padding-right: 250px;
    text-align: center;
}

#sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #96858f;
    color: #fff;
    transition: all 0.3s;
}

#portfolioImage{
    width: 70%;
    border-radius: 50%;
}
.sideBarLinks{
    color:white;
    font-size: 20px;
}
.sideBarLinks:hover{
    color:white;
}

.bg-light {
    background-color: #9099A2 !important;
  }

  .div1 {
    float: left;
    text-align: left;
}

.div2 {
    float:right;
    text-align: right;
}