/*D5D5D5 
96858f
6D7993*/

body{
    font-family: "Lucida Console", Monaco, monospace;
    padding-right: 0%;
    font-weight: 500;
}
#educationAndExperience{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;


    display: inline-block;
	width: 500px;
	min-height: 50px;
	height: auto;
}
#projects{
    background-color:#D5D5D5;
    color: rgb(58, 58, 58);
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#skills{
    background-color:#6D7993;
    color: #000000;
}
img{
    position: relative;
}


.wrapper {
    display: flex;
    width: 100%;
    padding-right: 250px;
    text-align: center;
}

#sidebar {
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    height: 110vh;
    z-index: 999;
    background: #75869E;
    color: #fff;
    transition: all 0.3s;
    max-width: 100%;

}

#portfolioImage{
    width: 70%;
    border-radius: 50%;
}
.sideBarLinks{
    color:white;
    font-size: 20px;
}
.sideBarLinks:hover{
    color:white;
}

.bg-light {
    background-color: #75869E !important;
  }

  .div1 {
    float: left;
    text-align: left;
}

.frontImage{
    
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    padding-right: 20%;

}
.about{
    background: #75869E;
    transition: all 0.3s;
}
.aboutMeParagraph{
    padding-right: 15%;
    padding-left: 15%;
}
.container1 {
    position: relative;
    text-align: center;
    color: 96858f;
  }

.centered {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: rgba(73, 85, 103, 0.982);

  }
  
  .button:hover {
    background-color: rgba(117, 134, 158, 0.982); /* Green */
    color: white;
  }